{
  "get_video_view": {
    "direct": "http://api.bilibili.com/x/web-interface/view",
    "workers": [
      {
        "id": "<worker-id>",
        "url": "<worker-url>",
        "platform": "<platform>",
        "weight": 1,
        "enabled": true
      }
    ],
    "user_agents": [
      "<user-agent>"
    ]
  },
  "get_video_view_trimmed": {
    "direct": "invalid://api.bilibili.com/x/web-interface/view",
    "workers": [
      {
        "id": "<worker-id>",
        "url": "<worker-url>",
        "platform": "<platform>",
        "weight": 1,
        "enabled": true
      }
    ],
    "user_agents": [
      "<user-agent>"
    ]
  },
  "get_video_tags": {
    "direct": "http://api.bilibili.com/x/tag/archive/tags",
    "workers": [
      {
        "id": "<worker-id>",
        "url": "<worker-url>",
        "platform": "<platform>",
        "weight": 1,
        "enabled": true
      }
    ]
  },
  "get_member_card": {
    "direct": "http://api.bilibili.com/x/web-interface/card",
    "workers": [
      {
        "id": "<worker-id>",
        "url": "<worker-url>",
        "platform": "<platform>",
        "weight": 1,
        "enabled": true
      }
    ],
    "user_agents": [
      "<user-agent>"
    ]
  },
  "get_member_relation": {
    "direct": "http://api.bilibili.com/x/relation/stat",
    "workers": [
      {
        "id": "<worker-id>",
        "url": "<worker-url>",
        "platform": "<platform>",
        "weight": 1,
        "enabled": true
      }
    ]
  },
  "get_newlist": {
    "direct": "http://api.bilibili.com/x/web-interface/newlist",
    "workers": [
      {
        "id": "<worker-id>",
        "url": "<worker-url>",
        "platform": "<platform>",
        "weight": 1,
        "enabled": true
      }
    ]
  }
}
