{
  "get_video_view": {
    "direct": "http://api.bilibili.com/x/web-interface/view",
    "workers": [
    ]
  },
  "get_video_tags": {
    "direct": "http://api.bilibili.com/x/tag/archive/tags",
    "workers": [
    ]
  },
  "get_member_card": {
    "direct": "https://api.bilibili.com/x/web-interface/card",
    "workers": [
    ]
  },
  "get_member_relation": {
    "direct": "http://api.bilibili.com/x/relation/stat",
    "workers": [
    ]
  },
  "get_archive_rank_by_partion": {
    "direct": "http://api.bilibili.com/archive_rank/getarchiverankbypartion",
    "workers": [
    ]
  },
  "get_newlist": {
    "direct": "http://api.bilibili.com/x/web-interface/newlist",
    "workers": [
    ]
  }
}
