[db_mysql]
user = username
password = passwd
host = localhost
port = 3306
dbname = tdd

[library]
cookie = '_luo_session=qwertyuiop'

[bilibili]
cookie = your bilibili cookie

[serverchan]
sckey = your sckey

[proxy]
proxy_pool_url = http://localhost:5555/random
